<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Textarea</title>
<link rel="stylesheet" href="../../dads-base.css">
<link rel="stylesheet" href="textarea.css">
</head>
<body>

<!-- 通常 -->
<span class="dads-textarea">
  <textarea class="dads-textarea__textarea" placeholder="テキストを入力"></textarea>
</span>

<!-- エラー -->
<span class="dads-textarea" style="margin-top:1rem;display:block">
  <textarea class="dads-textarea__textarea" aria-invalid="true" aria-describedby="textarea-error"></textarea>
  <span id="textarea-error" class="dads-textarea__error-text">＊エラーテキストが入ります。</span>
</span>

<!-- 読み取り専用 -->
<span class="dads-textarea" style="margin-top:1rem;display:block">
  <textarea class="dads-textarea__textarea" readonly>読み取り専用の値</textarea>
</span>

<!-- 無効 -->
<span class="dads-textarea" style="margin-top:1rem;display:block">
  <textarea class="dads-textarea__textarea" disabled>無効</textarea>
</span>

</body>
</html>
