<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Radio</title>
<link rel="stylesheet" href="../../dads-base.css">
<link rel="stylesheet" href="radio.css">
</head>
<body>

<!-- サイズ×状態マトリクス: lg / md / sm × 通常・選択済・エラー・無効 -->
<div style="display: grid; grid-template-columns: repeat(6, auto); gap: 2rem; justify-content: start">

  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="lg-1"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="lg-1" checked></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="lg-2" aria-invalid="true"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="lg-2" checked aria-invalid="true"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="lg-3" disabled></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="lg">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="lg-3" checked disabled></span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="md-1"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="md-1" checked></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="md-2" aria-invalid="true"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="md-2" checked aria-invalid="true"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="md-3" disabled></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="md">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="md-3" checked disabled></span>
    <span class="dads-radio__label">ラベル</span>
  </label>

  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="sm-1"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="sm-1" checked></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="sm-2" aria-invalid="true"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="sm-2" checked aria-invalid="true"></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="sm-3" disabled></span>
    <span class="dads-radio__label">ラベル</span>
  </label>
  <label class="dads-radio" data-size="sm">
    <span class="dads-radio__radio"><input class="dads-radio__input" type="radio" name="sm-3" checked disabled></span>
    <span class="dads-radio__label">ラベル</span>
  </label>

</div>

</body>
</html>
