<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Divider</title>
<link rel="stylesheet" href="../../dads-base.css">
<link rel="stylesheet" href="divider.css">
</head>
<body>

<div style="display: flex; flex-direction: column; row-gap: 2rem">
  <hr class="dads-divider" data-color="solid-gray-420" data-style="solid" data-width="1" />
  <hr class="dads-divider" data-color="solid-gray-536" data-style="solid" data-width="1" />
  <hr class="dads-divider" data-color="black" data-style="solid" data-width="1" />
  <hr class="dads-divider" data-color="solid-gray-420" data-style="solid" data-width="2" />
  <hr class="dads-divider" data-color="solid-gray-536" data-style="solid" data-width="2" />
  <hr class="dads-divider" data-color="black" data-style="solid" data-width="2" />
  <hr class="dads-divider" data-color="solid-gray-420" data-style="dashed" data-width="1" />
  <hr class="dads-divider" data-color="solid-gray-536" data-style="dashed" data-width="1" />
  <hr class="dads-divider" data-color="black" data-style="dashed" data-width="1" />
</div>

</body>
</html>
